name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  release:
    permissions:
      id-token: write # Required for trusted publishing
      contents: write
      pull-requests: write

    if: ${{ github.repository_owner == 'cloudflare' }}
    timeout-minutes: 5
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          registry-url: https://registry.npmjs.org

      - name: Get Playwright version
        id: playwright-version
        run: echo "version=$(jq -r '.packages["node_modules/playwright"].version' package-lock.json)" >> $GITHUB_OUTPUT

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}

      - run: npm ci
      - run: npm run build

      - id: changesets
        uses: changesets/action@v1
        with:
          version: npx tsx .github/changeset-version.ts
          publish: npx tsx .github/changeset-publish.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ""
          NPM_PUBLISH_TOKEN: ""
          NPM_CONFIG_PROVENANCE: true
